body {
    font-family: Arial, sans-serif;
}

.logo-search-row {
    /* Adjust the height of this row */
    height: 100px;
}

.logo-img {
    
    /* Move logo to the left more*/
    margin-top: 3%;
    max-height: 108px; /* Adjust logo size as needed */
}
.wrapper{
    height : 100vh;
}
.banner-container {
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width : 200px;
    height: 100px;
    background-image: url("img/banner.png"); /* Replace with your banner image path */
    background-size: 100%;
    background-position: top;
}

.reservation-info {
    border: 1px solid #ccc;
    border-radius: 5px;
}
